/* Fonts */
@charset "utf-8";

@font-face {
font-family: "Quattrocento Sans";
src: url("fontit/Quattrocento_Sans/QuattrocentoSans-Regular.ttf");
}

@font-face {
font-family: "Quattrocento Sans Bold";
src: url("fontit/Quattrocento_Sans/QuattrocentoSans-Bold.ttf");
}

@font-face {
font-family: "Volkov";
src: url("fontit/Volkhov/Volkhov-Regular.ttf");
}

@font-face {
font-family: "Volkov Bold";
src: url("fontit/Volkhov/Volkhov-Bold.ttf");
}

:root {
    --default-font: "Quattrocento Sans", serif;
    --default-font-bold: "Quattrocento Sans Bold", serif;
    --heading-font: "Volkov",  sans-serif;
    --nav-font: "Volkov",  sans-serif;
  }

/* Global Colors */
:root {
    --background-color:#ffffff;
    --default-color:#193441;
    --heading-color: #3E606F;
    --accent-color: #4fcac2;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
    --nav-backround-color:#193441;
    --nav-color:#91AA9D;
    --nav-hover-color: #FCFFF5;
    --nav-dropdown-color:#FCFFF5;
    --nav-dropdown-hover-color: #FCFFF5;
}

/* Color Presets */
.light-background {
    --background-color:#F2F2F2;
    --surface-color: #ffffff;
    --accent-color: #3E606F;
    --contrast-color: #4fcac2;
}

.dark-background {
    --background-color:#193441;
    --default-color: #FCFFF5;
    --heading-color: #FCFFF5;
    --surface-color: #193441;
    --contrast-color:#F2F2F2;

}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
  }

/* --------------------------------------------------------------------------------
# General Styling
--------------------------------------------------------------------------------- */

body {
    margin:0;
    padding:0;
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
    font-size: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

header {
    color: var(--default-color);
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    z-index: 997;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction:column;
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

header h1 {
    font-size:2rem;
}

header .profile-img img {
    margin: 30px auto 10px;
    display: block;
    width: 120px;
    border-radius: 50% !important;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.navmenu {
    padding: 0;
    z-index: 9997;
    width:80%;
}

.navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
}

.navmenu a {
    color: var(--nav-color);
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    padding: 15px 10px;
    width: 100%;
}

.navmenu a:hover {
    color: var(--contrast-color);
}

.navmenu i {
    display: inline-block;
    padding-right: 10px;
}

.navmenu a:hover > i{
    color:var(--accent-color);
}

@media (min-width: 1200px) {

    header~main,
    header~footer {
        margin-left:300px;
    }
}
  
@media (max-width: 1199px) {
    header {
      left: -100%;
    }
}

.section-title {
    padding-bottom: 20px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 50px 20px;
    overflow: clip;
}

.animate-up {
    animation-name: loop-up;
    animation-duration: .65s;
    animation-timing-function: ease-in-out;
}

@keyframes loop-up {
  from {top:120px}
  to {top:0}
}

.hero {
    width: 100%;
    min-height:100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: center;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 70%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero h2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: var(--contrast-color);
}

.hero p {
    margin: 5px 0 0 0;
    font-size: 26px;
    color: var(--contrast-color);
}

.hero .container {
    padding-top:20%;
    padding-left:5%;
    position: relative;
    z-index: 3;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 'col1 col2 col2'
    'col1 info1 info2';
    justify-items: space-between;
    align-items: center;
}

.about p {
    margin:0.5em;
}

.about .col1 {
    grid-area: col1;
    margin-right:1.5em;
}

.about .col2 {
    grid-area: col2;
}

.about .info1 {
    grid-area: info1;
    margin-right:1.5em;
}

.about .info2 {
    grid-area: info2;
}

.about ul {
    list-style: none;
    padding: 10px 5px 0 5px;
}

.about li {
    padding: 5px 0;
}

.about .section-title {
    display: block;
}

.about .about-me {
    padding: 10px;
    border-top: 2px solid var(--accent-color);
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    margin: auto;
}

.skills .progress .skill {
    color: var(--accent-color);
    padding: 0;
    margin: 0 0 6px 0;
    display: block;
    font-weight: 600;
    font-family: var(--default-font);
    box-sizing: border-box;
}
  
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.skills .progress-bar-wrap {
    background: color-mix(in srgb, var(--default-color), transparent 90%);
    height: 15px;
    border-radius:20px;
}
  
.skills .progress-bar {
    width: 1px;
    height: 15px;
    transition: 0.9s;
    background-color: var(--contrast-color);
    border-radius:20px;
}

.resume .resume-title {
    color: var(--heading-color);
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--accent-color);
    position: relative;
  }

.resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-bottom: 10px;
    margin-top: 10px;
}

.resume-item h5 {
    font-family: var(--default-font);
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top:10px;
}

.resume-item p {
    font-size: 16px;
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin:0 0 10px 0;
}

.resume .resume-item ul {
    padding-left: 20px;
 }
  
.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.portfolio-content:hover {
    border-color: var(--accent-color)
}

.portfolio-content a {
    width: 100%;
    color: var(--default-color);
}

.portfolio-content a:hover > h4 {
    color: var(--accent-color);
}

.portfolio-content embed {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .portfolio-content {
        width: 45%;
    }

}
  
@media (max-width: 1199px) {

}